// A Single Forecast Tile

.forecast-tile-day





    //tiles = []
    //(0...days).each do |day|
    //  tiles << "<td><div class='forecast-tile-day #{self.generalcondition[day].gsub(' ', '-')}' title='#{self.generaltext[day]}'>
    //    <div class='forecast-day'>#{Forecast.display_day(self.surfrange[day])}</div>
    //    <p>#{self.generalcondition[day].humanize}</p>
    //    #{self.surfrange[day].humanize}
    //    <p>#{self.surftext[day].humanize}.<br></p>
    //    <p>#{self.generaltext[day]}<td>"
    //end
    //tiles.join('').html_safe || 'sorry, no forecast here'