.show-spot-page
  //%h2.spot-name= @surf_spot.spot_full_name
  .refresh-buttons
    %button.refresh-report= link_to 'refresh report', update_report_path, :remote => true
    %button.refresh-forecast= link_to 'refresh forecast', update_forecast_path, :remote => true

  //- unless @surf_spot.spot_cam_name.nil?
  //= render partial: "stream", locals:{surf_spot: @surf_spot}


  #surf_report
    - if @surf_spot.latest_report
      = render partial: "report/report", locals:{surf_spot: @surf_spot}
    - else
      - @surf_spot.update_report
      = render partial: 'report/report', locals:{surf_spot: @surf_spot}

  #surf_forecast
    - if @surf_spot.latest_forecast
      = render partial: "forecast/forecast_tiles", locals:{surf_spot: @surf_spot}
    - else
      - @surf_spot.update_forecast
      = render partial: 'forecast/forecast_tiles', locals:{surf_spot: @surf_spot}

  %p
    %img.tide_image.img-responsive{src:"http://tile.surfline.com/dashboard/tidebar_mobile.cfm?id=#{@surf_spot.id}&x=742&y=200&location=#{@surf_spot.latest_forecast.payload.get_tide_location}&units=e&tb_fontsize=12&tb_sunfontsize=12"}

  %p
    %img.wind_image{src:"http://tile.surfline.com/dashboard/barchart_interp_wind.cfm?id=#{@surf_spot.id}&x=760&y=200&units=e&markshimmy=-20&arrowshimmy=-20"}

  %p
    %img.swell_image{src:"http://tile.surfline.com/dashboard/barchart_interp_wave.cfm?id=#{@surf_spot.id}&amp;x=760&y=200&units=e&markshimmy=-20&arrowshimmy=-20"}

  #spot_comment
    = button_to 'comment', new_surf_spot_post_path( surf_spot_id: 5127 )
