<!DOCTYPE html>
<html>
<head>
  <title>SurfLine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="left-header">
    <%= link_to 'Home', root_path%>
  </div>
  <div class="right-header" %>
    <% link_to 'Logout' %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render partial: 'surf_spots/spot_selector' %>

</header>

<%= yield %>

</body>
</html>
